
@{
    ViewData["Title"] = "Home";
}

<h2>Bienvenido al Sistema de Bancos del Comercio</h2>

<hr />
<p>Echa un vistazo a los enlaces del Menú</p>
<br />
<div class="">
    <environment include="Development">
        <img src="~/images/img1.png" class="img-responsive center-block" alt="Negocio" />
    </environment>
</div>


